

# streamlit
# langchain
# langchain-core
# langchain-community
# langchain-groq
# langchain-huggingface
# langchain-text-splitters
# faiss-cpu
# sentence-transformers
# python-dotenv

# # PDF support
# pypdf

# # DOCX support
# docx2txt

streamlit
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
python-dotenv

# File loaders
pypdf
docx2txt
unstructured
unstructured[xlsx]
unstructured[pptx]
openpyxl
python-pptx
markdown

# OCR — image text extraction
pytesseract
pillow